<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>

    <link 
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand" href="/">Inventory System</a>

        <div class="navbar-nav">
            <a class="nav-link text-white" href="/">Home</a>
            <a class="nav-link text-white" href="/products">Products</a>
            <a class="nav-link text-white" 
href="/categories">Categories</a>
            <a class="nav-link text-white" href="/dashboard">Dashboard</a>
        </div>

    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
