{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">Edit Product</h1>

<form method="POST">

    <div class="mb-3">

        <label class="form-label">Product Name</label>

        <input
            type="text"
            name="product_name"
            class="form-control"
            value="{{ product.product_name }}"
            required
        >

    </div>

    <div class="mb-3">

        <label class="form-label">Price</label>

        <input
            type="number"
            step="0.01"
            name="price"
            class="form-control"
            value="{{ product.price }}"
            required
        >

    </div>

    <div class="mb-3">

        <label class="form-label">Quantity</label>

        <input
            type="number"
            name="quantity"
            class="form-control"
            value="{{ product.quantity }}"
            required
        >

    </div>

    <div class="mb-3">

        <label class="form-label">Category</label>

        <select
            name="category_id"
            class="form-select"
        >

            {% for category in categories %}

            <option
                value="{{ category.category_id }}"
                {% if category.category_id == product.category_id %}
                    selected
                {% endif %}
            >
                {{ category.category_name }}
            </option>

            {% endfor %}

        </select>

    </div>

    <button
        type="submit"
        class="btn btn-success"
    >
        Update Product
    </button>

</form>

{% endblock %}
